/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
img {

  max-width:100% ;
}
/* This elements selectors styling encompasses the entire web application */
body {
  min-height: 100vh;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Ensures that the header is above other elements */

}
/* This class selector was used to style the nav bar */
.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #819ebd;
  color: #ffffff;
  
}
.logo-title {
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.logo-title h1 {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.logo-title img {
  height: 40px;
  margin-right: 20px; /* This gives some space between logo and title */
  border-radius: 50%;
}

/* This class selector gave these attributes to the nav bar */
.site-header nav {
  margin-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: 20px;
}

/* Class selector-not currently in use */
 ul {
  list-style-type: none;
  display: flex;
  
}


/* This element selector added margin and padding to the li within the ul for the nav bar */
 ul li {
  margin-left: 25px;
  padding: 8px;
  display: inline;
  text-align: center;
}

/* This element selector made sure the color didn't change from white when the links were clicked: applied to the anchor tag within the li within the ul for the nav bar */
 ul li a {
  text-decoration: none;
  color: white;
}

/* This class selector added properties to my hero image below the nav bar */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/hro-bg.jpg");
  background-size: cover;
  background-position: top;
  object-fit: cover;
  display: flex;
  align-items: center; /* To vertically center the content */
  justify-content: space-around; /* To distribute the available space around the items */
}
.hero .photo-title {
  display: flex;
  align-items: center;
  align-content: center;
}

.hero img {
  height:400px;
  border-radius: 100%;
  padding: 20px 20px 0 0 ;
  margin-right: 50px ;
}

.hero .quote {
  align-items: center; /* Vertically center the text */
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-style: italic;
  margin-left: 80px;
  padding: 0 
  
}
/* This element selector styles applied to the bottom half of the web app (ie. "About Me", "Work", and "Contact-Me" sections) */
main {
  display: inherit;
  flex-wrap: inherit;
  margin: inherit;
}
  
/* This element selector added these properties to all p tags on the web application */
p {
  padding: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 50px;
}

/* This element selector added these properties to all h2 tags on the web application */
h2 {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 50px;
}

#About-Me {
  background: linear-gradient(to bottom, #819EBD, #819EBD);
  display: flex;
  flex-direction: column;
  margin: inherit;
  padding: inherit;
  width: 100vw; /* 100% of the viewport width */
}

.About-Me-Content {
width: 100%;
display: flex;
flex-direction: column;
padding: 30px;

}

#About-Me P {
  margin: inherit;
  padding: 20px;
  width: 100%; /* Adjust according to your preference, this leaves a bit of room on the sides */
  text-align: start; /* If you want the text to be centered */
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
}


/* This id selector allowed the width of my work section to take up 100% of its container */
#Work {
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  opacity: 80%;
}

/* This id selector is where I added the attributes to the screenshot I added to "Project 1" and also where the URL to the screenshot is linked */

/* This class selector was where I added boxes containing "Project 2" - "Project 7" */
.Work p {
  margin:0;
  background-color: #CF8965;
  color: #ffffff;
  
}

/* This id selector was where I created the dimensions of the grid I used for spacing out project 2 - project 7 */
.project-grid{

  display: flex;
  gap: 20px; 
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.project-1 {

  width: 50%;

}

.project-1 img, .project-2 img, .project-4 img {

  width: 100%; 

}

.project-2 img:first-of-type, .project-4 img:first-of-type {
margin-bottom:20px
} 

.project-2 {

  width: 25%;
}

.project-4 {

  width: 25%;
}

.contact-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #819EBD;
  color: #ffffff;
}


.contact-items li {
    display: inline-block;
    margin-right: 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
    align-items: center;
    align-content: center;
    font-size: 20px;
    padding: 30px;

}


.footer {
  padding: 20px;
  width: 100%;
  display: block;
  justify-content: center;
  align-content: center
  align-items: center 
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
  sans-serif;
}


.footer h4 {
  font-size: 20px;
  text-align: center;
}

.footer p {
  font-size: 20px;
  text-align: center;
}


@media screen and (max-width: 1200px) {

  .site-header {
    flex-direction: column;
    text-align: center;
  }
  .site-header nav {
    margin-right: 0;
  }
  .logo-title img {
    height: 30px;
    margin-right: 15px;
  }
  .photo-title {
    flex-direction: column;
  }
  .photo-title img {
    margin-right: 0px;
  }
  .photo-title .quote {
    margin-left: 0px;
    max-width: 1000px;
  }

  .hero img {
    height:300px;
    border-radius: 100%;
    padding: 20px 20px 0 0 ;
    margin-right: 50px ;
  }
}

@media screen and (max-width: 992px) {
  
  .site-header nav ul {
    flex-direction: row;
    align-items: center;
  }
  .logo-title img {
    height: 25px;
    margin-right: 10px;
  }
  .photo-title {
    flex-direction: row;
  }
  .photo-title img {
    height: 300px;
    margin-right: 0px;
  }
  .photo-title .quote {
    margin-left: 0px;
    max-width: 1000px;
  }

   .photo-title {
      flex-direction: column;
    }
    .photo-title img {
      margin-right: 0px;
  }
}

@media (max-width: 810px) {
  .project-grid {
    flex-direction: column;
  }
  .project-1, .project-2, .project-4 {width:100%}
  .photo-title img {
    height: 200px;
    margin-right: 0px;
  }
  .site-header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    padding-top: 10px;
  }

  .site-header nav ul {
    display: flex;
    flex-direction: row;
  }


  @media (max-width: 660px) {
    .project-grid {
      flex-direction: column;
    }
    .project-1, .project-2, .project-4 {width:100%}
    .photo-title img {
      height: 200px;
      margin-right: 0px;
    }
    .site-header {
      flex-direction: column;
      align-items: center;
    }
    nav {
      padding-top: 10px;
    }


    .contact-content {
      display: flex;
      flex-direction: column; 
      }
  
  
      .contact-items ul  {
    
        display: flex
        flex-direction:column ; 
      }
      h2 {
          text-align: center;
        }
  }
  }

@media (max-width: 520px) {

  .photo-title{
    flex-direction: column;
    margin-right: 20px;
    margin-top: 50px;
    
  }

  .photo-title img {
    height: 200px;
    align-self: center;
    margin-top: 25px;
    padding: 0;
  }
  nav ul {
    flex-wrap: wrap;
    flex-direction: row; 
  }
      
.hero .quote { 
  font-size: 25px;
  text-align: center;
    }
    nav ul {
      flex-wrap: wrap;
      flex-direction: row; 
    }
    .contact-content {
      display: flex;
      flex-direction: column; 
      }
  
  
      .contact-items ul  {
    
        display: flex
        flex-direction:column ; 

  }
  h2 {
    text-align: center;
  }

  }
  @media (max-width: 468px) {

    .photo-title{
    flex-direction: column;
    margin-right: 20px;
    margin-top: 50px;
    
  }
    .photo-title img {
     height: 150px;
     align-self: center;
     margin-top: 25px;
     padding: 0;
    }
    
.hero .quote { 
  font-size: 20px;
  text-align: center;
    }
    nav ul {

     display: block ;
     flex-wrap: nowrap;
     justify-content: space-around;
     font-size: 15px;
    }
  
    nav ul div  {
      display: block ;
      flex-wrap: nowrap;
      justify-content: space-around;

    }

    nav ul li {
      padding: 0;
    }
 
    .contact-content {
    display: flex;
    flex-direction: column; 
    }

    nav ul li {
      padding: 0;
    }

    h2 {
      text-align: center;
    }

    .contact-items ul  {
  
      display: flex;
      flex-direction: row; 
    }
}